body {
    margin: auto;
}

.box {
    border-style: solid;
    border-color: skyblue;
    border-width: 5px;
    max-width: 120px;
    border-radius: 1rem;
    user-select: none;
    transition: all 150ms ease-in-out;
}

.active:hover {
    background-color: lightgrey;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.main {
    height: 500px;
    font-size: 80px;
}

.hidden {
    color: white;
}