body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    border: solid 1px black;
    font-size: clamp(100px, 15vw, 200px);
    padding: min(1vw, 10px) min(5vw, 60px);
    user-select: none;
}

.top {
    border-top-width: 0
}

.left {
    border-left-width: 0
}

.right {
    border-right-width: 0
}

.bottom {
    border-bottom-width: 0
}

.hide {
    color: transparent;
}

.green {
    color: lightgreen;
}

.red {
    color: indianred;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    background-color: lightgray;
}

@media screen and (min-width: 1200px) {
    .col {
        font-size: 200px;
        padding: 10px 60px
    }
}