body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    border: solid 1px red;
    font-size: clamp(100px, 15vw, 200px);
    padding: min(1vw, 10px) min(5vw, 60px);
    user-select: none;
}

.hide {
    color: transparent;
}

.green {
    background-color: lightgreen;
    color: white;
}

.red {
    background-color: indianred;
    color: white;
}

@media screen and (min-width: 1200px) {
    .col {
        font-size: 200px;
        padding: 10px 60px
    }
}